{# src/PPE-4/TobatBundle/Resources/views/Tobat/index.html.twig #}

{% extends "PPE4TobatBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block Sioblog_body %}

	<h2>Gestion de la base de données</h2>

{% endblock %}
     